@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-grow-2 {
    flex-grow: 2;
  }

  .max-w-2xs {
    max-width: 200px;
  }

  .w-full-send {
    width: 37rem;
  }

  .w-golden {
    width: 30rem;
  }

  .mx-end-row {
    margin-left: auto;
  }
}